body {
  background-image: url("https://github.com/PhilipBarton/mumaearth/blob/main/BACKGROUND.jpg?raw=true");
 background-color: #cccccc;
}

h1{
  font-weight: 800;
  font-size:200px;
  font-family:;
},
